<div class="container-fluid header">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/home_background.jpg" alt="Los Angeles"
                    class="d-block img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h2>I'm looking for..</h2>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/home_background.jpg" alt="Chicago" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>I'm looking for..</h3>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/home_background.jpg" alt="New York" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>I'm looking for..</h3>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/home_background.jpg" alt="New York" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>I'm looking for..</h3>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid about">
    <div class="bg-light py-5">
        <div class="text-center mx-auto">
            <h3 class="text-muted">We're leaders in</h3>
            <h2>Creative Digital Recruitment</h2>
            <hr class="bg-primary mx-auto rounded-pill">
            <p class="py-3 justify-content-center ">
                Based Surry Hills, the creative hub of Sydney
                we are surrounded by creativity and that reflects on
                the type of jobs we recruit for.
            </p>
            <button class="btn"><a href="https://www.google.com/" target='_blank' class="btn btn-outline-primary">FIND
                    MORE ABOUT US !</a></button>
        </div>
    </div>

    <!-- Register-starts  -->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary">
                    <h4 class="modal-title">Registration</h4>
                    <button type="button" class="btn-close border rounded-pill bg-light"
                        data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body mx-5">
                    <form [formGroup]="registerusers" (ngSubmit)="postData ()">
                        <div class="d-flex">
                            <div class="photo">
                                <input type="file" class="form-control form-control-photo" id="photo"
                                    title="upload your photo" (change)="onFileSelected($event)" accept="image/*"
                                    formControlName="photo" name="pic" />

                                <label for="pic" class="form-label text-primary">upload your photo</label>
                                <div *ngIf="imageSrc">
                                    <img [src]="imageSrc" alt="Preview" width="100" height="100">
                                </div>
                                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                                <div *ngIf="registerusers.get('photo')?.hasError('required') && registerusers.get('photo')?.touched">
                                    Image is required
                                </div>
                            </div>
                            <div class="details">

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First Name"
                                            name="firstName" formControlName="firstName" />
                                            
                                        <div *ngIf="registerusers.get('firstName')?.invalid && (registerusers.get('firstName')?.dirty || registerusers.get('firstName')?.touched)">
                                            <div *ngIf="registerusers.get('firstName')?.hasAsyncValidator">First Name is required</div>
                                            <div *ngIf="registerusers.get('firstName')?.hasValidator">Only alphabetic characters are allowed</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" formControlName="lastName" />
                                            <div *ngIf="registerusers.get('lastName')?.hasError && (registerusers.get('lastName')?.dirty || registerusers.get('lastName')?.touched)">
                                                <div *ngIf="registerusers.get('lastName')?.errors">last Name is required</div>
                                            </div>
                                    </div>
                                </div>
                                <div>
                                    <input formControlName="email" type="email" class="form-control" name="email" placeholder="Email" />
                                    <div *ngIf="registerusers.get('email')?.hasError('required') && registerusers.get('email')?.touched">
                                        Email is required
                                    </div>
                                    <div *ngIf="registerusers.get('email')?.hasError('email') && registerusers.get('email')?.touched">
                                        invalid email format
                                    </div>    
                                </div>
                                <div>
                                    <input formControlName="mobile" type="number" class="form-control" name="mobile" placeholder="(541)754-3010" />
                                    <div *ngIf="registerusers.get('mobile')?.hasError('required') && registerusers.get('mobile')?.touched">
                                        Mobile number is required
                                    </div>
                                    <div *ngIf="registerusers.get('mobile')?.hasError('pattern') && registerusers.get('mobile')?.touched">
                                        Please enter a valid mobile number
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="age">Age {{age}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="range" class="form-range customRange" value="1" min="20" max="60"
                                            name="age" #ageInput (input)="updateAge(ageInput.value)"
                                            formControlName="age" />
                                        <div class="d-flex justify-content-between">
                                            <span>20</span>
                                            <span>60</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <select class="form-select" id="select" aria-label="State" formControlName="state">
                                        <option value="">State</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Panjab">Panjab</option>
                                    </select>
                                    <div *ngIf="registerusers.get('state')?.hasError('required') && registerusers.get('state')?.touched">
                                        State is required
                                    </div>
                            </div>
                            <div>
                                <select class="form-select" aria-label="country" formControlName="country">
                                    <option value="">Country</option>
                                    <option value="india">India</option>
                                    <option value="other">Other</option>
                                </select>
                                <div *ngIf="registerusers.get('country')?.hasError('required') && registerusers.get('country')?.touched">
                                    Country is required
                                </div>
                            </div>
                            <div>
                                <select class="form-select" id="addressType" name="address" formControlName="address" (change)="showFields()">
                                    <option value="">Address</option>
                                    <option value="Home">Home</option>
                                    <option value="Company">Company</option>
                                </select>

                                <div *ngIf="showHomeFields" class="form-select">
                                    <input type="text" id="address1" name="address1" style="border-radius: 5;" 
                                        placeholder="Home Address 1" />

                                    <input type="text" id="address2" name="address2" style="border-radius: 5;"
                                        placeholder="Home Address 2" />
                                </div>

                                <div *ngIf="showCompanyFields" class="form-select">
                                    <input type="text" id="companyAddress1" name="companyAddress1" 
                                        placeholder="Company Address 1" style="border-radius: 5;" />
                                        
                                    <input type="text" id="companyAddress2" name="companyAddress2"
                                        placeholder="Company Address 2" style="border-radius: 5;" />
                                </div> 
                                <div *ngIf="registerusers.get('address')?.hasError('required') && registerusers.get('address')?.touched">
                                    Address is required
                                </div>
                            </div>
                            <div class="form-select">
                                    <!-- Tags for interests -->
                                <div class="tags-container">
                                    <input placeholder="Tags" [matChipInputFor]="chipGrid"
                                        (matChipInputTokenEnd)="add($event)" 
                                    />

                                    <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl"
                                        formControlName="tag">
                                        @for (keyword of keywords; track keyword) {
                                            <mat-chip-row (removed)="removeKeyword(keyword)">
                                                {{keyword}}
                                                <button matChipRemove aria-label="'remove ' + keyword">
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                                
                                            </mat-chip-row>
                                            
                                        }
                                    </mat-chip-grid>
                                    <div>
                                    <mat-error *ngIf="registerusers.get('tag')?.hasError('required') && registerusers.get('tag')?.touched">
                                        Tags are required
                                    </mat-error>
                                </div>
                                </div>   
                            </div>
                                <div class="form-control border-0">
                                    <input type="checkbox" name="subscribe" id="subscribe" formControlName="subscribe">
                                    <span class="text-muted">subscribe to newslatter</span>
                                    <div *ngIf="registerusers.get('subscribe')?.invalid && (registerusers.get('subscribe')?.dirty || registerusers.get('subscribe')?.touched)">
                                        <div *ngIf="registerusers.get('subscribe')?.errors">Please agree to the terms and conditions</div>
                                    </div>
                                </div>
                                <button type="submit" class="btn border" data-bs-dismiss="modal"
                                    style="margin: 10px;">Cancel</button>
                                <button type="submit" class="btn btn-primary" [disabled]="registerusers.invalid">Submit</button>
                            </div> 

                         </div>
                    </form>

                </div>
            </div> 

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
    
</div> 

<!-- Register-end  -->