<div class="container-fluid header">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/home_background.jpg" alt="Los Angeles"
                    class="d-block img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h2>I'm looking for..</h2>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/home_background.jpg" alt="Chicago" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>I'm looking for..</h3>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/home_background.jpg" alt="New York" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>I'm looking for..</h3>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/home_background.jpg" alt="New York" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>I'm looking for..</h3>
                    <form class="d-flex ">
                        <input class="form-control me-2 btn-lg" type="text" placeholder="Search">
                        <button class="btn btn-primary"><a href="https://www.google.com/" target='_blank'
                                class="btn btn-primary">Search</a></button>
                    </form>
                    <form class="row w-100">
                        <div class="col-md-6">
                            <input type="checkbox" name="" id="full-time">
                            <label for="full-time">Full Time</label>
                            <input type="checkbox" name="" id="part-time">
                            <label for="part-time">Part Time/Casual/Freelacer</label>
                        </div>
                        <div class="col-md-4 form-floating">
                            <select class="form-select" id="sel1" name="sellist">
                                <option selected>State</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                                <option>Haidrabad</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid about">
    <div class="bg-light py-5">
        <div class="text-center mx-auto">
            <h3 class="text-muted">We're leaders in</h3>
            <h2>Creative Digital Recruitment</h2>
            <hr class="bg-primary mx-auto rounded-pill">
            <p class="py-3 justify-content-center ">
                Based Surry Hills, the creative hub of Sydney
                we are surrounded by creativity and that reflects on
                the type of jobs we recruit for.
            </p>
            <button class="btn"><a href="https://www.google.com/" target='_blank' class="btn btn-outline-primary">FIND
                    MORE ABOUT US !</a></button>
        </div>
    </div>

    <!-- Register-starts  -->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary">
                    <h4 class="modal-title">Registration</h4>
                    <button type="button" class="btn-close border rounded-pill bg-light"
                        data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body mx-5">
                    <form [formGroup]="registerusers" (ngSubmit)="postData()">
                        <div class="d-flex">
                            <div class="photo">
                                <input type="file" class="form-control form-control-photo" id="photo"
                                    title="upload your photo" (change)="onFileSelected($event)" accept="image/*"
                                    formControlName="photo" />

                                <label for="photo" class="form-label text-primary">upload your photo</label>
                                <div *ngIf="imageSrc">
                                    <img [src]="imageSrc" alt="Preview" width="100" height="100">
                                </div>
                                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                            </div>
                            <div class="details">

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First Name"
                                            name="firstName" required minlength="2" maxlength="30"
                                            formControlName="firstName" />
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last Name" name="lastName"
                                            required minlength="2" maxlength="30" formControlName="lastName" />
                                    </div>
                                </div>
                                <input formControlName="email" type="email" class="form-control" name="email"
                                    placeholder="Email" required minlength="2" maxlength="30" formControlName="email" />

                                <input formControlName="mobile" type="number" class="form-control" name="phone"
                                    placeholder="(541)754-3010" required minlength="10" maxlength="10"
                                    formControlName="mobile" />
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="age">Age {{age}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="range" class="form-range customRange" value="1" min="20" max="60"
                                            name="age" #ageInput (input)="updateAge(ageInput.value)"
                                            formControlName="age" />
                                        <div class="d-flex justify-content-between">
                                            <span>20</span>
                                            <span>60</span>
                                        </div>
                                    </div>
                                </div>
                                <select class="form-select" id="select" aria-label="State" required
                                    formControlName="state">
                                    <option value="">State</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Panjab">Panjab</option>
                                </select>

                                <select class="form-select" aria-label="State" required formControlName="country">
                                    <option value="">Country</option>
                                    <option value="india">India</option>
                                    <option value="other">Other</option>
                                </select>

                                <select class="form-select" id="addressType" [(ngModel)]="addressType"
                                    [ngModelOptions]="{standalone: true}" (change)="showFields()">
                                    <option value="">Address</option>
                                    <option value="Home">Home</option>
                                    <option value="Company">Company</option>
                                </select>

                                <div *ngIf="showHomeFields">
                                    <input type="text" id="homeAddress1" name="homeAddress1" style="border-radius: 5;"
                                        placeholder="Home Address 1" />

                                    <input type="text" id="homeAddress2" name="homeAddress2" style="border-radius: 5;"
                                        placeholder="Home Address 2" />

                                </div>

                                <div *ngIf="showCompanyFields">
                                    <input type="text" id="companyAddress1" name="companyAddress1"
                                        placeholder="Company Address 1" style="border-radius: 5;" />

                                    <input type="text" id="companyAddress2" name="companyAddress2"
                                        placeholder="Company Address 2" style="border-radius: 5;" />
                                </div>
                                <!-- Tags for interests -->
                                <div class="form-select">

                                    <!-- Tags for interests -->
                                    <div class="tags-container">
                                        <input placeholder="Tags" [matChipInputFor]="chipGrid"
                                            (matChipInputTokenEnd)="add($event)" />

                                        <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl"
                                            formControlName="tag">
                                            @for (keyword of keywords; track keyword) {
                                            <mat-chip-row (removed)="removeKeyword(keyword)">
                                                {{keyword}}
                                                <button matChipRemove aria-label="'remove ' + keyword">
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip-row>
                                        }
                                        </mat-chip-grid>
                                    </div>
                                </div>

                                <div class="form-control border-0">
                                    <input type="checkbox" name="subscribe" id="subscribe" #subscribe>
                                    <span class="text-muted">subscribe to newslatter</span>
                                </div>
                                <button type="submit" class="btn border" data-bs-dismiss="modal"
                                    style="margin: 10px;">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<!-- Register-end  -->